
<div class="operating">
  <div class="maincon">
    <header>
      <h1>Profile Information</h1>
      <button class="edit-btn">Edit</button>
    </header>
    <div class="profile-info">
      <form>
        <div class="form-group">
          <input type="text" id="first-name" placeholder="First Name">
          <input type="text" id="last-name" placeholder="Last Name">
        </div>
        <div class="Your Gender">
          <label class="gender">Your Gender</label>
          <div class="gender-options">
            <label><input type="radio" name="gender">Male</label>
            <label><input type="radio" name="gender">Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label><button class="edit-btn">Edit</button><br><br>
          <input type="email" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label><button class="edit-btn">Edit</button><br><br>
          <input type="tel" id="phone" placeholder="Enter Phone Number">
        </div>
      </form>
    </div>
  </div>
</div>

