.container-fluid{
    background-color: rgb(238, 242, 244);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 500px;
    width: 400px;
    background-color: rgb(244, 244, 250);
    box-shadow: 4px 4px 12px rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.form-group{
    margin-top: 30px;
}
.btn{
    margin-top: 30px;
}