<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid" style="background-color: #FFFFFF;width:100vw;height: auto;">
    <div class="container" style="background-color: #fff;width:100vw;height: auto;">
      <div class="row">
        <div class="col-sm-2 col-md-2 top">

          <div class="logo"><img src="newlogo1.png" alt="logo"></div>
        </div>
        <div class="col-sm-6 col-md-6 top">
          <input type="text" class="form-control mx-3" placeholder="Search for Products, Brands and More"
            style="max-width: 600px;margin-top: 10px;">
        </div>
        <div class="col-sm-2 col-md-2">
          <div class="center">
            <button type="button" (click)="account()" class="btn btn-outline"><img src="person.svg"
                style="width: 30px;height: 30px;">&nbsp;Account</button>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 top" >
          <div class="center">
            <button type="button" class="btn btn-outline " style="width: 250px;"><img src="shopping-cart.svg"
                style="width: 30px;height: 30px;">Cart</button>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 top" style="background-color: #FFFFFF;height: 60px;">
          <div class="center">
            <button type="button" class="btn btn-outline " style="width: 300px;"><img src="threedot.svg"
                style="width: 20px;height: 30px;">More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- carousel -->
  <div class="container-fluid mt-2" style="width:100vw;height: auto;">
    <div class="row ">
      <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="phoneimage.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="flight.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="samsungphoto.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <!-- first page -->
  <div class="container-fluid mt-2 pt-2" style="background-color: #fff;width:100vw;height: auto;">
    <span class="title ">Best of Electronics</span>
    <div class="row" style="margin-left: 50px;padding-bottom: 30px;">
      @for(x of productdetails; track x.name){
      <div
        style="width:200px;height:240px; background-color: #FFFFFF(140, 184, 193);border-radius: 10px;margin:10px 10px 0px 20px;border: 1px solid #EFEFEF;" (click)="navigateToDetails(x.id)">
        <div class="container-fluid d-flex justify-content-center" style="width: auto;height: 150px;margin-top: 15px;" >
          <img [src]="x.name + '.jpeg'" alt="{{x.name}}">
        </div>
        <span class="d-block text-center fw-bold mt-3">{{x.name | titlecase}}</span>
        <span class="d-block text-center text-muted">{{x.price}}</span>
      </div>
      }
    </div>
  </div>

  <!-- second page -->
  <div class="container-fluid mt-2 " style="background-color: #efefef;">
    <div class="card-box2">
      <div class="card-four">
      </div>
      <div class="card-five">
        <h4 class="text-dark">Top Picks,Best Prices!</h4>
        <div class="grid-container">
          @for (x of productdetails2; track x.name) {
          <div class="grid-item" (click)="navigateToDetails(x.id)">
            <img [src]=" x.name +'.jpeg' " alt="{{ x.name }}" class="item-img" /><br>
            <h5 class="text-dark text-center">{{ x.name }}</h5>
            <p class="text-success text-center">{{ x.price }}</p>
          </div>
          }
        </div>
      </div>
     
    </div>
  </div>

  <!-- third page -->
  <div class="container-fluid mt-2" style="background: #efefef;">
    <div class="card-box">
      <div class="card-two">
        <h4 class="text-dark">Best rated,Best price! </h4>
        <div class="grid-container">
          @for (x of productdetails3; track x.name) {
          <div class="grid-item" (click)="navigateToDetails(x.id)">
            <img [src]=" x.name +'.jpeg' " alt="{{ x.name }}" class="item-img" /><br>
            <h5 class="text-dark text-center">{{ x.name }}</h5>
            <p class="text-success text-center">{{ x.price }}</p>
          </div>
          }
        </div>
      </div>
      <div class="card-two">
        <h4 class="text-dark">Home Decor & Furnishing</h4>
        <div class="grid-container">
          @for (x of productdetails4; track x.name) {
          <div class="grid-item" (click)="navigateToDetails(x.id)">
            <img [src]=" x.name +'.jpeg' " alt="{{ x.name }}" class="item-img" /><br>
            <h5 class="text-dark text-center">{{ x.name }}</h5>
            <p class="text-success text-center">{{ x.price }}</p>    
          </div>
          }
        </div>
      </div>
      <div class="card-two">
        <h4 class="text-dark">Unlock More Discounts</h4>
        <div class="grid-container">
          @for (x of productdetails5; track x.name) {
          <div class="grid-item" (click)= "navigateToDetails(x.id)">
            <img [src]=" x.name +'.jpeg' " alt="{{ x.name }}" class="item-img" /><br>
            <h5 class="text-dark text-center">{{ x.name }}</h5>
            <p class="text-success text-center">{{ x.price }}</p>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- <fourth page> -->
    <div class="container-fluid " style="background-color: #EFEFEF;width:100vw;height: auto;">
      <div class="terms mt-3 ">
        <h6 class="paracolor">Privacy Policy</h6>
        <p class="paracolor">Last updated: November 19, 2024

          This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your
          information when You use the Service and tells You about Your privacy rights and how the law protects You.

          We use Your Personal data to provide and improve the Service. By using the Service, You agree to the
          collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created
          with the help of the Free Privacy Policy Generator.</p>
        <h6 class="paracolor">Personal Data</h6>
        <p class="paracolor">While using Our Service, We may ask You to provide Us with certain personally identifiable
          information that
          can be used to contact or identify You. Personally identifiable information may include, but is not limited
          to:</p>
        <ul>
          <li class="paracolor">Email address</li>

          <li class="paracolor">First name and last name</li>

          <li class="paracolor">Phone number</li>
        </ul>
        <h6 class="paracolor">Tracking Technologies and Cookies</h6>
        <p class="paracolor">We use Cookies and similar tracking technologies to track the activity on Our Service and
          store certain
          information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to
          improve and analyze Our Service. The technologies We use may include:</p>
        <ul>
          <li class="paracolor">Cookies or Browser Cookies. A cookie is a small file placed on Your Device. You can
            instruct Your
            browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept
            Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser
            setting so that it will refuse Cookies, our Service may use Cookies.</li>
          <li class="paracolor">Web Beacons. Certain sections of our Service and our emails may contain small electronic
            files known as
            web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company,
            for example, to count users who have visited those pages or opened an email and for other related website
            statistics</li>
        </ul>

      </div>
      <div class="condition">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-sm-2 col-md-2 pt-5">
              <span class="head1">ABOUT</span><br><br>
              <a href="#" class="normal-link">Contact</a><br>
              <a href="#" class="normal-link">About us</a><br>
              <a href="#" class="normal-link">careers</a><br>
              <a href="#" class="normal-link">Corporate information</a>
            </div>
            <div class="col-sm-2 col-md-2 pt-5">
              <span class="head1">GROUP COMPANIES</span><br><br>
              <a href="#" class="normal-link">WebCodenexus</a><br>
              <a href="#" class="normal-link">Shopsy</a><br>
              <a href="#" class="normal-link">Myntra</a>
            </div>
            <div class="col-sm-2 col-md-2 pt-5">
              <span class="head1">HELP</span><br><br>
              <a href="#" class="normal-link">Payments</a><br>
              <a href="#" class="normal-link">Shipping</a><br>
              <a href="#" class="normal-link">Return</a><br>
              <a href="#" class="normal-link">FAQ</a>
            </div>
            <div class="col-sm-2 col-md-2 pt-5">
              <span class="head1">CONSUMER POLICY</span><br><br>
              <a href="#" class="normal-link">Terms Of Use</a><br>
              <a href="#" class="normal-link">Security</a><br>
              <a href="#" class="normal-link">privacy</a><br>
              <a href="#" class="normal-link">Grievance Redressel</a>
            </div>
            <div class="col-sm-2 col-md-2 pt-5">
              <span class="head1">Mail Us</span><br><br>
              <a href="#" class="normal-link">Webcart Internet Private Limited</a><br>
              <a href="#" class="normal-link">Sahara center</a><br>
              <a href="#" class="normal-link">Perinthalmana,679566</a><br>
              <a href="#" class="normal-link">Kerala,India</a>
            </div>
            <div class="col-sm-2 col-md-2 pt-5" style="padding-right:20px;">
              <span class="head1">Registered Office Address</span><br><br>
              <a href="#" class="normal-link">Webcart Internet Private Limited</a><br>
              <a href="#" class="normal-link">Sahara center</a><br>
              <a href="#" class="normal-link">Perinthalmana,679566</a><br>
              <a href="#" class="normal-link">Kerala,India</a><br>
              <span class="normal-link">Telephone:<a href="#">9048101019</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
<!-- <button (click)="logout()" class="bt">Logout</button> -->
