<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <div class="container">
        <div class="confirmation-box">
            <div class="phone-frame">
             
                <div class="order-confirmation">
                    <div class="icon-check">
                        <div class="check-mark">&#10004;</div>
                    </div>
                    <h2>Thank You ..</h2>
                    <h1>Your Order Is Confirmed</h1>
                    <button class="done-btn"><a routerLink="/homepage">DONE</a></button>
                   
                    
                </div>
            </div>
            <div class="character">
                <div class="speech-bubble">
                    <!-- <div class="bubble-check">&#10004;</div> -->
                     <!-- <img src="order-confirmed.webp"> -->
                </div>
                <div class="person">
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>

